<?xml version="1.0"?>
<config>
    <modules>
        <Web_Ppfix>
            <version>0.1.0</version>
        </Web_Ppfix>
    </modules>
    <global>
        <models>
            <web_ppfix>
                <class>Web_Ppfix_Model</class>
            </web_ppfix>
            <paypal>
                <rewrite>
                    <config>Web_Ppfix_Model_Config</config>
                    <cart>Web_Ppfix_Model_Cart</cart>
                </rewrite>
            </paypal>
        </models>
        <blocks>
            <web_ppfix>
                <class>Web_Ppfix_Block</class>
            </web_ppfix>
        </blocks>
        <helpers>
            <web_ppfix>
                <class>Web_Ppfix_Helper</class>
            </web_ppfix>
        </helpers>
        <resources>
            <web_ppfix_setup>
                <setup>
                    <module>Web_Ppfix</module>
                </setup>
            </web_ppfix_setup>
        </resources>
    </global>
</config>