<?xml version="1.0"?>
<config>
    <modules>
        <MW_Credit>
            <version>0.1.3</version>
        </MW_Credit>
    </modules>
    <frontend>
        <routers>
            <credit>
                <use>standard</use>
                <args>
                    <module>MW_Credit</module>
                    <frontName>credit</frontName>
                </args>
            </credit>
        </routers>
        <layout>
            <updates>
                <credit>
                    <file>mw_credit.xml</file>
                </credit>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<credit>
				<use>admin</use>
				<args>
					<module>MW_Credit</module>
					<frontName>credit</frontName>
				</args>
			</credit>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<credit module="credit">
				<title>Credits</title>
				<sort_order>71</sort_order>               
				<children>
					<credit module="credit">
						<title>Manage Credits</title>
						<sort_order>10</sort_order>
						<action>credit/adminhtml_credit</action>
					</credit>
				</children>
			</credit>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<MW_Credit>
							<title>Credit Module</title>
							<sort_order>10</sort_order>
						</MW_Credit>
						<system>
                            <children>
                                <config>
                                    <children>
										<!-- ten la trung ten chi ra trong file config system.xml -->
                                        <credit translate="title" module="credit">
											<!-- Title display in role -->
                                            <title>Credit</title>
                                        </credit>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<credit>
					<file>mw_credit.xml</file>
				</credit>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<rewrite>
        	<mw_credit_adminhtml_sales_order_invoice>
        		<from><![CDATA[#^/admin/sales_order_invoice/#]]></from>
                <to>/credit/adminhtml_sales_order_invoice/</to>
        	</mw_credit_adminhtml_sales_order_invoice>
        </rewrite>
        <models>
            <credit>
                <class>MW_Credit_Model</class>
                <resourceModel>credit_mysql4</resourceModel>
            </credit>
            <credit_mysql4>
                <class>MW_Credit_Model_Mysql4</class>
                <entities>
                    <credithistory>
                        <table>mw_credit_history</table>
                    </credithistory>
                    <creditorder>
						<table>mw_credit_order</table>
					</creditorder>
					<creditcustomer>
						<table>mw_credit_customer</table>
					</creditcustomer>
                </entities>
            </credit_mysql4>
        </models>
        <resources>
            <credit_setup>
                <setup>
                    <module>MW_Credit</module>
                    <!-- Hey, this call Model need for addAttribute() -->
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </credit_setup>
            <credit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </credit_write>
            <credit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </credit_read>
        </resources>
        <blocks>
            <credit>
                <class>MW_Credit_Block</class>
            </credit>
            <adminhtml>
            	<rewrite>
            		<customer_edit_tabs>MW_Credit_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
            	</rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <credit>
                <class>MW_Credit_Helper</class>
            </credit>
        </helpers>
        <events>
        	<checkout_type_onepage_save_order_after>
                <observers>
                    <credit>
                        <type>singleton</type>
                        <class>credit/observer</class>
                        <method>saveOrderAfter</method>
                    </credit>
                </observers>
            </checkout_type_onepage_save_order_after>
			<!-- <sales_quote_collect_totals_before>
				<observers>
					<credit_add_observer>
						<type>singleton</type>
						<class>MW_Credit_Model_Observer</class>
						<method>editGrandTotal</method>
					</credit_add_observer>
				</observers>
			</sales_quote_collect_totals_before> -->
			<customer_customer_authenticated>
                <observers>
                    <credit>
                        <type>singleton</type>
                        <class>credit/observer</class>
                        <method>updateStatus</method>
                    </credit>
                </observers>
            </customer_customer_authenticated>
            <customer_save_after>
				<observers>
					<credit_initialize_observer>
						<type>singleton</type>
						<class>MW_Credit_Model_Observer</class>
						<method>initializeCredit</method>
					</credit_initialize_observer>
				</observers>
			</customer_save_after>
			<adminhtml_customer_prepare_save>
            	<observers>
                    <credit>
                        <type>singleton</type>
                        <class>MW_Credit_Model_Observer</class>
                        <method>saveCredit</method>
                    </credit>
                </observers>
            </adminhtml_customer_prepare_save>
			<!--  -->
			<exchange_rewardpoints_to_credit>
            	<observers>
                    <credit>
                        <type>singleton</type>
                        <class>MW_Credit_Model_Observer</class>
                        <method>exchange</method>
                    </credit>
                </observers>
            </exchange_rewardpoints_to_credit>    
             <mw_rewardpoints_exchange_credit_to_rewardpoints_after>
            	<observers>
                    <credit>
                        <type>singleton</type>
                        <class>MW_Credit_Model_Observer</class>
                        <method>exchangeSuccess</method>
                    </credit>
                </observers>
            </mw_rewardpoints_exchange_credit_to_rewardpoints_after> 
            <!--  -->
		</events>
		<template>
		  	<email>
		  		<!-- reference current id -->
		    	<credit_mail_info_sender_template translate="label" module="credit">
			      	<label>Credit Email To Sender</label>
			      	<file>mw_credit_email_sender.html</file>
			      	<type>html</type>
		    	</credit_mail_info_sender_template>
		     	<credit_mail_info_recipient_template translate="label" module="credit">
			      	<label>Credit Email To Recipient</label>
			      	<file>mw_credit_email_recipient.html</file>
			      	<type>html</type>
		     	</credit_mail_info_recipient_template>
		  	</email>
		</template>
	
	        <sales>
				<quote>
					<totals>
						<credit>
							<class>credit/quote_address_total_discount</class>
							<after>discount</after>
							<before>grand_total</before>
						</credit>
					</totals>
				</quote>
	        </sales>
        
    </global>
    <default>
		<credit>
			<config>
				<enabled>1</enabled>
				<credit_money_rate>1/1</credit_money_rate>
			</config>
			<options>
				<max_credit_to_checkout>0</max_credit_to_checkout>
			</options>
			<options_send_credit>
				<allow_send_credit_to_friend>1</allow_send_credit_to_friend>
				<max_recipients>3</max_recipients>
				<max_credit_to_sent>0</max_credit_to_sent>
			</options_send_credit>
			<mail_info>
				<enable_send_email_to_sender>1</enable_send_email_to_sender>
				<sender_template>credit_mail_info_sender_template</sender_template>
				<email_sender>general</email_sender>
				<enable_send_email_to_recipient>0</enable_send_email_to_recipient>
				<recipient_template>credit_mail_info_recipient_template</recipient_template>
			</mail_info>
			<capcha>
				<image_width>255</image_width>
				<image_height>50</image_height>
				<perturbation>0.7</perturbation>
				<code_length>7</code_length>
				<use_transparent_text>1</use_transparent_text>
				<text_transparency_percentage>0</text_transparency_percentage>
				<num_lines>0</num_lines>
			</capcha>
		</credit>
	</default>
</config>