<!--@subject You are recieved some credit from {{var senderName}} @-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
	<tr>
        <td valign="top">
            <p>
                <strong>Dear {{var recipientName}}!</strong>,<br/>
                <p>Your friend {{var senderName}} width email: {{var senderMail}} sent <b>{{var recipientAmountCredit}} credit</b> for you
            </p>
            <p>And now, you have <b>{{var recipientNewCredit}} credit</b>.</p>
            <p>You can check the transaction by <a href="{{store url='credit'}}" style="color:#1E7EC8;">logging into your account</a>.</p>
            <p>Thank you again!</p>
        </td>
    </tr>
</table>
</div>