<?xml version = "1.0"?>
<config>
    <modules>
       <Web_Migs>
          <version>0.1.0</version>
       </Web_Migs>
    </modules>
    <frontend>
        <routers>
            <migs>
                <use>standard</use>
                <args>
                    <module>Web_Migs</module>
                    <frontName>migs</frontName>
                </args>
            </migs>
        </routers>
        <layout>
            <updates>
                <migs>
                    <file>migs.xml</file>
                </migs>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <migs>
                <class>Web_Migs_Helper</class>
            </migs>
        </helpers>
        <blocks>
            <migs>
                <class>Web_Migs_Block</class>
            </migs>
        </blocks>
        <models>
            <migs>
                <class>Web_Migs_Model</class>
                <resourceModel>migs_mysql4</resourceModel>
            </migs>
            <migs_mysql4>
                <class>Web_Migs_Model_Mysql4</class>
                <entities>
                    <info>
                        <table>migs_info</table>
                    </info>
                </entities>
            </migs_mysql4>
        </models>
        <resources>
            <migs_setup>
                <setup>
                    <module>Web_Migs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </migs_setup>
            <migs_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </migs_write>
            <migs_read>
               <connection>
                <use>core_read</use>
              </connection>
            </migs_read>
        </resources>
    </global>
    <crontab>
        <jobs>
            <web_check_migs_orders>
                <schedule><cron_expr>*/5 * * * * </cron_expr></schedule>
                <run><model>migs/info::checkMigsOrders</model></run>
            </web_check_migs_orders>
        </jobs>
    </crontab>
     <default>
        <payment>
            <migs>
                <active>0</active>
                <model>migs/paymentMethod</model>
                <cgi_url>https://migs.mastercard.com.au/vpcpay?</cgi_url>
                <api_url>https://migs.mastercard.com.au/vpcdps</api_url>
                <order_status>pending</order_status>
                <title>MIGS</title>
                <cctypes>VI,MC</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </migs>
         </payment>
    </default>
</config>