<?xml version="1.0"?>
<config>
    <modules>
        <Web_Voucher>
            <version>0.1.0</version>
        </Web_Voucher>
    </modules>
    <frontend>
        <routers>
            <voucher>
                <use>standard</use>
                <args>
                    <module>Web_Voucher</module>
                    <frontName>voucher</frontName>
                </args>
            </voucher>
        </routers>
        <layout>
            <updates>
                <voucher>
                    <file>voucher.xml</file>
                </voucher>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <voucher>
                <use>admin</use>
                <args>
                    <module>Web_Voucher</module>
                    <frontName>voucher</frontName>
                </args>
            </voucher>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <voucher module="voucher">
                        <title>Vouchers</title>
                        <sort_order>10</sort_order>
                        <action>voucher/adminhtml_voucher</action>
                    </voucher>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <voucher>
                            <title>Vouchers</title>
                            <sort_order>200</sort_order>
                        </voucher>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <voucher_options>
                                            <title>Deals Modules</title>
                                        </voucher_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <voucher>
                    <file>voucher.xml</file>
                </voucher>
            </updates>
        </layout>
        <events>
            <sales_order_save_after>
                <observers>
                    <auto_send_voucher_status>
                        <type>model</type>
                        <class>voucher/observer</class>
                        <method>sendVoucherOnStatusChange</method>
                    </auto_send_voucher_status>
                </observers>
            </sales_order_save_after>
        </events>
    </adminhtml>
    <global>
        <rewrite>
            <web_voucher_voucher_view>
                <from><![CDATA[#^/voucher/view/code/#]]></from>
                <to><![CDATA[/voucher/view/index/code/]]></to>
            </web_voucher_voucher_view>
        </rewrite>
        <helpers>
            <voucher>
                <class>Web_Voucher_Helper</class>
            </voucher>
        </helpers>
        <blocks>
            <voucher>
                <class>Web_Voucher_Block</class>
            </voucher>
        </blocks>
        <models>
            <voucher>
                <class>Web_Voucher_Model</class>
                <resourceModel>voucher_mysql4</resourceModel>
            </voucher>
            <voucher_mysql4>
                <class>
                    Web_Voucher_Model_Mysql4
                </class>
                <entities>
                    <vouchers>
                        <table>deal_voucher</table>
                    </vouchers>
                </entities>
            </voucher_mysql4>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <auto_generate_voucher>
                        <type>singleton</type>
                        <class>voucher/observer</class>
                        <method>generateVoucher</method>
                    </auto_generate_voucher>
                </observers>
            </sales_order_place_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <auto_send_voucher>
                        <type>model</type>
                        <class>voucher/observer</class>
                        <method>senOrderVouchersEamil</method>
                    </auto_send_voucher>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_cart_add_product_complete>
                <observers>
                    <auto_remove_old_products>
                        <type>singleton</type>
                        <class>voucher/observer</class>
                        <method>emptyCart</method>
                    </auto_remove_old_products>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
        <resources>
            <voucher_setup>
                <setup>
                    <module>Web_Voucher</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </voucher_setup>
            <voucher_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </voucher_write>
            <voucher_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </voucher_read>

        </resources>
    </global>
    <crontab>
        <jobs>
            <Web_Voucher_sendvouchers>
                <schedule>
                    <cron_expr>5 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>voucher/vouchers::sendVouchers</model>
                </run>
            </Web_Voucher_sendvouchers>
        </jobs>
    </crontab>
</config>