<?xml version="1.0"?>
<config>
    <modules>
        <Web_Deal>
            <version>0.1.0</version>
        </Web_Deal>
    </modules>
    <frontend>
        <routers>
            <deal>
                <use>standard</use>
                <args>
                    <module>Web_Deal</module>
                    <frontName>deal</frontName>
                </args>
            </deal>
        </routers>
        <layout>
            <updates>
                <deal>
                    <file>deal.xml</file>
                </deal>
            </updates>
        </layout>
        <events>
            <checkout_cart_save_before>
                <observers>
                    <disable_add_expired_products>
                        <type>model</type>
                        <class>Web_Deal_Model_Observer</class>
                        <method>disableAddToCart</method>
                    </disable_add_expired_products>
                </observers>
            </checkout_cart_save_before>
        </events>
    </frontend>
    <global>
        <helpers>
            <deal>
                <class>Web_Deal_Helper</class>
            </deal>
        </helpers>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view>Web_Deal_Block_Catalog_Product_View</product_view>
                    <category_view>Web_Deal_Block_Catalog_Category_View</category_view>
                </rewrite>
            </catalog>
            <deal>
                <class>Web_Deal_Block</class>
            </deal>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Web_Deal_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <deal>
                <class>Web_Deal_Model</class>
            </deal>
        </models>
        <resources>
            <deal_setup>
                <setup>
                    <module>Web_Deal</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deal_setup>
            <deal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deal_write>
            <deal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deal_read>
        </resources>

    </global>
    <admin>
        <routers>
            <deal>
                <use>admin</use>
                <args>
                    <module>Web_Deal</module>
                    <frontName>deal</frontName>
                </args>
            </deal>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <deal translate="title" module="deal">
                            <title>Deal</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <dealbackend translate="title">
                                    <title>Backend Page Title</title>
                                </dealbackend>
                            </children>
                        </deal>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <deal>
                    <file>deal.xml</file>
                </deal>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <Web_Voucher_autorenew>
                <schedule>
                    <cron_expr>5 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>Web_Deal_Model_Observer::renewDeal</model>
                </run>
            </Web_Voucher_autorenew>
        </jobs>
    </crontab>
</config>