<?xml version="1.0" ?>
<config>
    <modules>
        <Webkul_Customerpartner>
            <version>2.0.0</version>
        </Webkul_Customerpartner>
    </modules>

	<default>
		<partners>
			<partners_options>
				<percent><![CDATA[20]]></percent>
			</partners_options>
		</partners>
	</default>

    <global>
		<template>
			<email>
				<approveproduct module="customerpartner">
					<label>Approve My Product</label>
					<file>admininformnewpro.html</file>
					<type>html</type>
				</approveproduct>
				<whenproductapproved module="customerpartner">
					<label>When the product is Approved mail send to partner</label>
					<file>admininapprovedit.html</file>
					<type>html</type>
				</whenproductapproved>
				<customerpartner_email_template module="customerpartner">
					<label>Customer Partner</label>
					<file>customer_partner.html</file>
					<type>html</type>
				</customerpartner_email_template>
				<customerpartner_email module="customerpartner">
					<label>Notify Partner when its product sold</label>
					<file>notifycheckoutpartner.html</file>
					<type>html</type>
				</customerpartner_email>
				<requesttobecomepartner_email module="customerpartner">
					<label>Notify Admin to make me partner</label>
					<file>webkulcustomerpartnewreqest.html</file>
					<type>html</type>
				</requesttobecomepartner_email>
			</email>
		</template>
        <rewrite>
            <!-- Rewrite customer product -->
			<webkul_customerpartner>
                <from><![CDATA[#^/customer/products#]]></from>
                <to>customerpartner/partnerproducts$1</to>
			</webkul_customerpartner>
        </rewrite>

        <models>
			<customerpartner>
                <class>Webkul_Customerpartner_Observer</class>
            </customerpartner>
            <customerpartner>
                <class>Webkul_Customerpartner_Model</class>
                <resourceModel>customerpartner_entity</resourceModel>
            </customerpartner>
			
            <customerpartner_entity>
	            <class>Webkul_Customerpartner_Model_Entity</class>
	            <entities>
	            	<customerpartner_entity>
	            		<table>customerpartner_entity</table>
	            	</customerpartner_entity>
	            	<entity>
	            		<table>customerpartner_entity</table>
	            	</entity>
	            </entities>
	         </customerpartner_entity>
		<!-- Rewrite Magento's Sales/Order Model -->
			<sales>
				<rewrite>
					<order>Webkul_Customerpartner_Model_Sales_Order</order>
				</rewrite>
			</sales>
        </models>
        <blocks>
	    	<catalog>
	    		<rewrite>
			    	<product_view>Webkul_Customerpartner_Block_Product_View</product_view>
			    </rewrite>
			</catalog>
			<adminhtml>
		        <rewrite>
					<sales_order_grid>Webkul_Customerpartner_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
		        </rewrite>
				<rewrite>
					<customer_edit_tabs>Webkul_Customerpartner_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                </rewrite>
			</adminhtml>
            <customerpartner>
                <class>Webkul_Customerpartner_Block</class>
            </customerpartner>
        </blocks>
        <helpers>
            <customerpartner>
                <class>Webkul_Customerpartner_Helper</class>
            </customerpartner>
        </helpers>

        <resources>
         <customerpartner_setup>
            <setup>
               <module>Webkul_Customerpartner</module>
               <class>Webkul_Customerpartner_Model_Entity_Setup</class>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </customerpartner_setup>
         <customerpartner_write>
            <connection>
               <use>core_write</use>
            </connection>
         </customerpartner_write>
         <customerpartner_read>
            <connection>
               <use>core_read</use>
            </connection>
         </customerpartner_read>
      </resources>
    </global>

    <admin>
        <routers>
            <customerpartner>
                <use>admin</use>
                <args>
                    <module>Webkul_Customerpartner</module>
                    <frontName>customerpartner</frontName>
                </args>
            </customerpartner>
			<!-- line to override product controller of admin panel for deleting any product of CP-->
			<adminhtml>
                <args>
                    <modules>
                        <Webkul_Customerpartner before="Mage_Adminhtml">Webkul_Customerpartner</Webkul_Customerpartner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <customerpartner translate="title" module="customerpartner">
				<title>Customer Partners</title>
				<children>
					<customerpartner_products translate="title" module="customerpartner">
						<title>Total Products</title>
						<action>customerpartner/products</action>
					</customerpartner_products>
				</children>
				<children>
					<customerpartner_partners translate="title" module="customerpartner">
						<title>Manage Partners</title>
						<action>customerpartner/partners</action>
					</customerpartner_partners>
				</children>
			</customerpartner>
        </menu>

        <translate>
            <modules>
                <webkul_customerpartner>
                    <files>
                        <customerpartner>Webkul_Customerpartner.csv</customerpartner>
                    </files>
                </webkul_customerpartner>
            </modules>
        </translate>

        <acl>
            <resources>
            	<all>
					<title>Allow everything</title>
				</all>
                <admin>
                    <children>
                        <customerpartner>
                            <title>Customer Partner</title>
                            <products>
                        		<scheduler>
                           			 <title>Customerpartner Products</title>
                                </scheduler>
                            </products>
                        </customerpartner>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <partners>
                                            <title>Customer Partners</title>
                                        </partners>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

		<!--<layout>
            <updates>
                <smsbid>
                    <file>smsbid.xml</file>
                </smsbid>
            </updates>
        </layout>-->
    </adminhtml>
	<frontend>
		
       	<routers>
            <Webkul_Customerpartner>
                <use>standard</use>
                <args>
                    <module>Webkul_Customerpartner</module>
                    <frontName>customerpartner</frontName>
                </args>
            </Webkul_Customerpartner>
        </routers>

		<layout>
		    <updates>
		        <customerpartner module="Webkul_Customerpartner">
		            <file>customerpartner.xml</file>
		        </customerpartner>
		    </updates>
		</layout>
    </frontend>
		<crontab>
				<jobs>
					<Webkul_Customerpartner>
						<schedule><cron_expr>0,5,10,15,20,25,30,35,40,45,50,55 * * * *</cron_expr></schedule>
						<run><model>Customerpartner/observer::exportProducts</model></run>
					</Webkul_Customerpartner>
				</jobs>
			</crontab>
</config>
