<?xml version="1.0"?>
<config>
    <modules>
        <Vinagento_Vpager>
            <version>0.1.6</version>
        </Vinagento_Vpager>
    </modules>
    <frontend>
        <routers>
        	<catalog>
				<args>
					<modules>
						<vinagento_vpager before="Mage_Catalog">Vinagento_Vpager</vinagento_vpager>
					</modules>
				</args>
			</catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <vinagento_vpager before="Mage_CatalogSearch">Vinagento_Vpager</vinagento_vpager>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <layout>
            <updates>
                <vpager>
                    <file>vpager.xml</file>
                </vpager>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <vpager>
                <class>Vinagento_Vpager_Model</class>
            </vpager>
        </models>
        <blocks>
            <vpager>
                <class>Vinagento_Vpager_Block</class>
            </vpager>
            <catalogsearch>
                <rewrite>
                    <result>Vinagento_Vpager_Block_CatalogSearch_Result</result>
                </rewrite>
            </catalogsearch>
        </blocks>
        <helpers>
            <vpager>
                <class>Vinagento_Vpager_Helper</class>
            </vpager>
        </helpers>
    </global>
    <default>
        <vpager>
            <config>
                <active>1</active>
            </config>
        </vpager>
    </default>
</config>